# 

# diff all

# version
# Betaflight / STM32F7X2 (S7X2) 4.2.6 Jan  5 2021 / 19:08:42 (a4b6db1e7) MSP API: 1.43
# config: manufacturer_id: MTKS, board_name: MATEKF722MINI, version: f173f9bc, date: 2019-10-02T14:43:13Z

# start the command batch
batch start

# reset configuration to default settings
defaults nosave

board_name MATEKF722MINI
manufacturer_id MTKS
mcu_id 00190021465350182030364e
signature 

# beacon
beacon RX_SET

# serial
serial 0 64 115200 57600 0 115200
serial 1 0 115200 57600 0 115200
serial 2 2048 115200 57600 0 115200

# aux
aux 0 0 0 1700 2100 0 0
aux 1 13 2 1700 2100 0 0
aux 2 35 3 1700 2100 0 0
aux 3 39 1 900 1300 0 0

# vtxtable
vtxtable bands 5
vtxtable channels 8
vtxtable band 1 BOSCAM_A A FACTORY 5865 5845 5825 5805 5785 5765 5745 5725
vtxtable band 2 BOSCAM_B B FACTORY 5733 5752 5771 5790 5809 5828 5847 5866
vtxtable band 3 BOSCAM_E E FACTORY 5705 5685 5665    0 5885 5905 5925    0
vtxtable band 4 FATSHARK F FACTORY 5740 5760 5780 5800 5820 5840 5860 5880
vtxtable band 5 RACEBAND R FACTORY 5658 5695 5732 5769 5806 5843 5880 5917
vtxtable powerlevels 4
vtxtable powervalues 14 23 27 29
vtxtable powerlabels 25 200 500 800

# master
set gyro_lowpass2_hz = 375
set dyn_notch_width_percent = 0
set dyn_notch_q = 250
set dyn_notch_max_hz = 350
set dyn_lpf_gyro_min_hz = 300
set dyn_lpf_gyro_max_hz = 750
set acc_hardware = NONE
set serialrx_provider = CRSF
set min_throttle = 1070
set dshot_idle_value = 500
set dshot_bidir = ON
set use_unsynced_pwm = OFF
set motor_pwm_rate = 480
set osd_units = IMPERIAL
set osd_vbat_pos = 2475
set osd_rssi_pos = 40
set osd_link_quality_pos = 2082
set osd_tim_1_pos = 2486
set osd_tim_2_pos = 33
set osd_flymode_pos = 65
set osd_current_pos = 353
set osd_mah_drawn_pos = 2103
set osd_craft_name_pos = 362
set osd_altitude_pos = 53
set osd_warnings_pos = 2281
set osd_avg_cell_voltage_pos = 2465
set osd_log_status_pos = 2094
set osd_stat_max_spd = OFF
set osd_stat_min_rssi = OFF
set osd_stat_max_alt = ON
set osd_stat_bbox = OFF
set osd_stat_bb_no = OFF
set debug_mode = GYRO_SCALED
set vtx_band = 5
set vtx_channel = 8
set vtx_power = 4
set vtx_freq = 5917
set gyro_rpm_notch_harmonics = 2
set gyro_rpm_notch_q = 600

profile 0

# profile 0
set dyn_lpf_dterm_min_hz = 105
set dyn_lpf_dterm_max_hz = 255
set dyn_lpf_dterm_curve_expo = 6
set dterm_lowpass2_hz = 225
set vbat_sag_compensation = 100
set pidsum_limit = 1000
set pidsum_limit_yaw = 1000
set throttle_boost = 0
set throttle_boost_cutoff = 25
set p_pitch = 69
set d_pitch = 48
set f_pitch = 171
set p_roll = 63
set d_roll = 45
set f_roll = 162
set p_yaw = 68
set f_yaw = 162
set d_min_roll = 0
set d_min_pitch = 0
set ff_interpolate_sp = ON
set ff_smooth_factor = 0
set ff_boost = 30

profile 1

# profile 1
set dyn_lpf_dterm_min_hz = 105
set dyn_lpf_dterm_max_hz = 255
set dyn_lpf_dterm_curve_expo = 6
set dterm_lowpass2_hz = 225
set vbat_sag_compensation = 100
set iterm_relax_cutoff = 20
set pidsum_limit = 1000
set pidsum_limit_yaw = 1000
set throttle_boost = 0
set throttle_boost_cutoff = 25
set p_pitch = 60
set d_pitch = 42
set f_pitch = 162
set p_roll = 55
set d_roll = 39
set f_roll = 153
set p_yaw = 59
set f_yaw = 153
set d_min_roll = 0
set d_min_pitch = 0
set ff_interpolate_sp = ON
set ff_smooth_factor = 0
set ff_boost = 30

profile 2

# profile 2
set dyn_lpf_dterm_min_hz = 105
set dyn_lpf_dterm_max_hz = 255
set dyn_lpf_dterm_curve_expo = 6
set dterm_lowpass2_hz = 225
set vbat_sag_compensation = 100
set pidsum_limit = 1000
set pidsum_limit_yaw = 1000
set throttle_boost = 0
set throttle_boost_cutoff = 25
set d_pitch = 32
set f_pitch = 171
set d_roll = 30
set f_roll = 162
set f_yaw = 162
set d_min_roll = 0
set d_min_pitch = 0
set ff_interpolate_sp = ON
set ff_smooth_factor = 0
set ff_boost = 30

# restore original profile selection
profile 1

rateprofile 0

# rateprofile 0
set rates_type = ACTUAL
set roll_rc_rate = 1
set pitch_rc_rate = 1
set yaw_rc_rate = 1
set roll_expo = 54
set pitch_expo = 54
set yaw_expo = 54
set roll_srate = 100
set pitch_srate = 100

rateprofile 1

# rateprofile 1
set roll_rc_rate = 150
set pitch_rc_rate = 150
set yaw_rc_rate = 150
set roll_expo = 30
set pitch_expo = 30
set yaw_expo = 30
set tpa_breakpoint = 1750
set throttle_limit_percent = 90

rateprofile 2

# rateprofile 2
set roll_rc_rate = 120
set pitch_rc_rate = 120
set yaw_rc_rate = 175
set roll_srate = 73
set pitch_srate = 65
set yaw_srate = 40
set tpa_breakpoint = 1500
set throttle_limit_type = SCALE
set throttle_limit_percent = 90

rateprofile 3

rateprofile 4

rateprofile 5

# restore original rateprofile selection
rateprofile 0

# save configuration
save
# 