# 

# diff all

# version
# Betaflight / STM32F7X2 (S7X2) 4.3.0 Dec 24 2021 / 18:42:12 (norevision) MSP API: 1.44
# config: manufacturer_id: MTKS, board_name: MATEKF722MINI, version: 55694498, date: 2021-05-15T13:56:51Z

# start the command batch
batch start

# reset configuration to default settings
defaults nosave

board_name MATEKF722MINI
manufacturer_id MTKS
mcu_id 00340029465350142030364e
signature 

# serial
serial 0 64 115200 57600 0 115200
serial 1 0 115200 57600 0 115200
serial 2 2048 115200 57600 0 115200

# beacon
beacon RX_SET

# aux
aux 0 0 0 1700 2100 0 0
aux 1 13 2 1700 2100 0 0
aux 2 35 3 1700 2100 0 0
aux 3 39 1 900 1300 0 0

# vtxtable
vtxtable bands 5
vtxtable channels 8
vtxtable band 1 BAND_A   A CUSTOM  5865 5845 5825 5805 5785 5765 5745 5725
vtxtable band 2 BAND_B   B CUSTOM  5733 5752 5771 5790 5809 5828 5847 5866
vtxtable band 3 BAND_E   E CUSTOM  5705 5685 5665 5665 5885 5905 5905 5905
vtxtable band 4 AIRWAVE  F CUSTOM  5740 5760 5780 5800 5820 5840 5860 5880
vtxtable band 5 RACEBAND R CUSTOM  5658 5695 5732 5769 5806 5843 5880 5917
vtxtable powerlevels 4
vtxtable powervalues 14 23 27 29
vtxtable powerlabels 25 200 500 800

# master
set dyn_notch_count = 1
set dyn_notch_q = 500
set acc_hardware = NONE
set serialrx_provider = CRSF
set min_throttle = 1070
set dshot_bidir = ON
set use_unsynced_pwm = OFF
set motor_pwm_rate = 480
set osd_units = IMPERIAL
set osd_vbat_pos = 2475
set osd_rssi_pos = 40
set osd_link_quality_pos = 2082
set osd_tim_1_pos = 2486
set osd_tim_2_pos = 33
set osd_flymode_pos = 65
set osd_current_pos = 353
set osd_mah_drawn_pos = 2103
set osd_craft_name_pos = 362
set osd_altitude_pos = 53
set osd_warnings_pos = 2281
set osd_avg_cell_voltage_pos = 2465
set osd_log_status_pos = 2094
set osd_stat_max_spd = OFF
set osd_stat_min_rssi = OFF
set osd_stat_max_alt = ON
set osd_stat_bbox = OFF
set osd_stat_bb_no = OFF
set vtx_band = 5
set vtx_channel = 8
set vtx_power = 4
set vtx_freq = 5917

profile 0

profile 1

profile 2

# restore original profile selection
profile 0

rateprofile 0

# rateprofile 0
set roll_rc_rate = 1
set pitch_rc_rate = 1
set yaw_rc_rate = 1
set roll_expo = 54
set pitch_expo = 54
set yaw_expo = 54
set roll_srate = 100
set pitch_srate = 100

rateprofile 1

rateprofile 2

rateprofile 3

rateprofile 4

rateprofile 5

# restore original rateprofile selection
rateprofile 0

# save configuration
save
# 